header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  li {
    display: inline;
  }
.logo {
    width: 60vw;
}
.test{
  position: absolute;/*設為相對定位(relative)*/
  text-align: center;
  top: 80px;
}
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}